// Core
@import "core/reset.less";
@import "core/variables.less";


// Blocks

body {
  font-size: 14px;
  line-height: 1.5;
  color: @grey;
  font-family: @Roboto;
  font-weight: 400;
  user-select: none;
}

img {
  max-width: 100%;
}

a {
  color: #aeb4bc;
  text-decoration: none;
}

.app {
  background-color: #393E45;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #393E45;

  &__top {
    border-bottom: 1px solid #484e56;
  }

  &__bottom {
    padding: 40px 0;
  }
}

.title {
  color: #f7f7f7;
  margin-bottom: 10px;

  h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 100;
  }
}

.ico {
  display: inline-flex;
}

.social {
  display: flex;
  align-items: center;
  padding: 15px 0;

  &__left {
    width: 20%;
  }

  &__right {
    width: 80%;
  }

  .title {
    margin-bottom: 0;
  }
}

.social-links {

  &__list {
    display: flex;
  }

  &__el {
    margin: 0 10px;
  }
}

.social-icon {
  color: #545b65;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  transition: all .3s ease-in-out;

  &:hover {
    color: #fff;
  }
}

.contacts {

  &__el {
    padding: 5px 0;
  }
}

.contact {

  i {
    color: @blue;
  }

  span {
    color: #b1b1b1;
    margin-left: 5px;
  }
}

.btn {
  display: inline-flex;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  transition: all .5s ease-in-out;
}

.is-blue {
  background-color: @blue;
  border: 1px solid @blue;
  color: #fff;

  &:hover {
    background-color: transparent;
  }
}

.is-green {
  background-color: @greenLight;
  border: 1px solid @greenLight;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    background-color: #b5c648;
    border: 1px solid #b5c648;
    color: #fff;
  }
}

.is-transparent {
  background: rgba(0,0,0,0);
  color: #8c8574;
  border: 1px solid #8c8574;
  text-transform: uppercase;

  &:hover {
    background-color: #c2d44e;
    border: 1px solid #c2d44e;
    color: #fff;
  }
}


